In [1]:
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [142]:
driver = webdriver.Chrome()
driver.get("https://internshala.com/internships/page-1/")

In [143]:
rows_needed = 100
n = 0
indexnum = 0
df = pd.DataFrame(columns=['Job','Company','Work Location','Start Date','Duration','Stipend','Time','Internship Type'])

while True:
    target = driver.find_elements(By.CSS_SELECTOR, 'div[class="container-fluid individual_internship  "]')
    for i in target:
        try:
            job = i.find_element(By.CSS_SELECTOR,'div[class="container-fluid individual_internship  "] div[class="internship_meta"] div[class="individual_internship_header"] div[class="heading_4_5 profile"] a[class="view_detail_button"]')
            df.loc[indexnum,'Job'] = job.text
        except:
            df.loc[indexnum,'Job'] = "None"

        try:
            company = i.find_element(By.CSS_SELECTOR,"div[class='company_and_premium']")
            df.loc[indexnum,'Company'] = company.text
        except:
            df.loc[indexnum,'Company'] = "None"

        try:
            work_location = i.find_element(By.CSS_SELECTOR,'div[class="individual_internship_details  individual_internship_internship"] div[id="location_names"] span')
            df.loc[indexnum,'Work Location'] = work_location.text
        except:
            df.loc[indexnum,'Work Location'] = "None"

        try:
            start_date = i.find_element(By.CSS_SELECTOR,'div[class="item_body"] span[class="start_immediately_desktop"]')
            df.loc[indexnum,'Start Date'] = start_date.text
        except:
            df.loc[indexnum,'Start Date'] = "None"

        try:
            duration = i.find_element(By.CSS_SELECTOR,'div[class="internship_meta"] div[class="individual_internship_details  individual_internship_internship"] div[class="internship_other_details_container"] div[class="other_detail_item_row"] div:nth-child(2) div[class="item_body"]')
            df.loc[indexnum,'Duration'] = duration.text
        except:
            df.loc[indexnum,'Duration'] = "None"

        try:
            stipend = i.find_element(By.CSS_SELECTOR,'div[class="other_detail_item  stipend_container"] div[class="item_body"] span[class="stipend"]')
            df.loc[indexnum,'Stipend'] = stipend.text
        except:
            df.loc[indexnum,'Stipend'] = "None"

        try:    
            timee = i.find_element(By.CSS_SELECTOR,'div[class="posted_by_container"] div[class="status-container"] div[class="status status-small status-inactive"] ')
            df.loc[indexnum,'Time'] = timee.text
        except:
            df.loc[indexnum,'Time'] = "None"

        try:
            internship_type = i.find_element(By.CSS_SELECTOR,'div[class="other_label_container"] div[class="status-container"] div[class="status status-small status-inactive"] ')
            df.loc[indexnum,'Internship Type'] = internship_type.text
        except:
            df.loc[indexnum,'Internship Type'] = "None"

        print(n)
        n+=1
        indexnum+=1
        if n == rows_needed:
            break
        else:
            continue
    if n == rows_needed:
        break
    else:
        next_btn = driver.find_element(By.CSS_SELECTOR,'div[class="internship_list_container"] nav div[id="pagination"] a[class="next_page hideUndoOnClick"]').click()
        time.sleep(5)
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [144]:
df

,Job,Company,Work Location,Start Date,Duration,Stipend,Time,Internship Type
0,Business Development (Sales),Carenami,Work From Home,Immediately,3 Months,"7,500 /month",2 weeks ago,Internship
1,Client Servicing,Internshala,Gurgaon,Immediately,4 Months,"20,000 /month",1 week ago,Internship with job offer
2,Field Survey,Alsisar Impact,Work From Home,Immediately,1 Week,"1,500 /week",1 week ago,Internship
3,Social Media Marketing,Digidesi - Digital Marketing & Design,Pune,Immediately,3 Months,None,None,Internship
4,Social Entrepreneurship,Hamari Pahchan NGO,Work From Home,Immediately,1 Month,Unpaid,1 week ago,Internship
...,...,...,...,...,...,...,...,...
95,Human Resources (HR),Titan Company Limited,Bangalore,Immediately,2 Months,"10,000 /month",1 week ago,Internship
96,Human Resources (HR),Jindal Stainless,Gurgaon,Immediately,3 Months,"5,000 /month",1 week ago,Internship
97,Placement Management,NIIT Foundation,Delhi,Immediately,3 Months,"10,000 /month",1 week ago,Internship
98,Digital Marketing,Apollo Hospitals Enterprise Limited,Bangalore,Immediately,6 Months,"15,000 /month",1 week ago,Internship
99,Graphic Design,Archies Lifestyle,Delhi,Immediately,3 Months,"10,000-15,000 /month",1 week ago,Internship

In [145]:
df.to_csv('internshala_data.csv')